<% if post.images.length < 2 %>
  <% post.images.each do |image| %>
    <%= image_tag image, class: "post-img"%>
  <% end %>
<% else %>
  <div class="swiper-container">
    <div class= "swiper-wrapper">
      <% post.images.each do |image| %>
        <%= image_tag image, class: "swiper-slide" %>
      <% end %>
    </div>
    <div class="swiper-button-prev swiper-button-black"></div>
    <div class="swiper-button-next swiper-button-black"></div>
    <div class="swiper-pagination"></div>
  </div>
<% end %>