<%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>


<div class=category-box>
  <div class="category-list" id="category">
    <div class="category-top">カテゴリーで探す</div>
    <ul class="category" id="hidden">
      <li class="hidden">いぬ</li>
      <li class="hidden">ねこ</li>
      <li class="hidden">ウサギ</li>
      <li class="hidden">ハムスター</li>
      <li class="hidden">リス</li>
      <li class="hidden">インコ・オウム</li>
      <li class="hidden">フクロウ</li>
      <li class="hidden">カメ</li>
      <li class="hidden">カワウソ</li>
      <li class="hidden">その他</li>
    </ul>
  </div>
</div>
