.field-check {
  margin-top: 25px;
  text-align: center;
}

.contents-login {
  display: flex;
  justify-content: center;
  margin-top: 130px;
  margin-bottom: 270px;
}

.login-flash-message {
  color: red;
  text-align: center;
}

@media (max-width: 599px) {
  .contents-login {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}