.show-main {
  display:flex;
  justify-content: center;
}

.show-contents{
  width:60%;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
}
.image-content {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.btn-contents {
  display: flex;
  justify-content: center;
}

img.show-img {
  height: 60vh;
}

.detail-table {
  margin:30px 0 30px 0px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #6f5949;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.edit-btn, .delete-btn {
  background-color: #6f5949;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  margin: 20px 20px;
  padding: 2vh 10vw;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.edit-btn:hover, .delete-btn:hover {
  background-color: #a18068;
}

.comment-container {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 6% 0;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
}

.comment-box {
  width: 80%;
}

.comment-box h2 {
  margin-bottom: 4vh;
  color:#6f5949;
}


.comment-user {
  color:#6f5949;
}

.comment-delete {
  color:#6f5949;
}

a.comment-delete {
  margin-left:10px;
}

.alert {
  text-align: center;
  color: #6f5949;
}

.unlike-show {
  text-align: right;
  color:#6f5949;
}

.like-show {
  text-align: right;
}
.like {
  float: right;
}

.root-user {
  margin-left: 2vw;
}

a.root-user {
  color:#6f5949;
}

.time {
  font-size: 5%;
  margin-left: 1vw;
}

.tags {
  margin-right: 1vw;
}

@media (max-width: 599px) {
  .show-contents {
    width: 100%;
  }

  .show-main {
    display:flex;
    justify-content: center;
    height:100%;
  }

}